{% extends 'base.html'%}
{% load static %}
{% block content %}
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" type="text/css" href="{% static 'CSS/style.css' %}">
<div class="boutique">
    <h1>Votre passage secret vers des offres exceptionnelles - Connectez-vous maintenant</h1>
</div>
<div class="wrapper">
    <form method="POST" class="login-form">
        {% csrf_token %}
        <h1 class="logo">Member Logins</h1>
        <div class="input-box">

            <input id="username" type="text" name="username" placeholder="username" class="username-input">
        </div>

        <div class="input-box">

            <input id="Password" type="text" name="password" placeholder="password" class="password-input">
        </div>

        <div class="remember-forget">
            <label><input type="checkbox" class="remember-checkbox">enregistré </label>
            <a href="#" class="forgot-password-link"> Mot de passe oublier</a>
        </div>

        <button type="submit" class="login-button">connexion</button>
        <div>
            <p>j'ai pas de compte <a href="{% url 'user1'  %}" class="signup-link">S'inscrire</a></p>
        </div>

    </form>
</div>
{% endblock %}