
{% extends 'base.html' %}

{% block content %}

{%  if user.is_authenticated %}

  {{ user.username }} <a href="{% url 'deco' %} ">Déconnecter</a>
   <p>
  <a href="{% url 'affich_pann' %} ">voir mon pannier</a>
   </p>
{% else %}

<button><a href="{% url 'user1' %} ">s'inscrire</a></button>
<button><a href="{% url 'connecter1' %}">Connexion</a></button>

{% endif %}
{% for product in prod%}

<a href="{{ product.get_absolute_url }}"><h2>{{ product.name }}</h2></a>
<img src="{{ product.thumbnail.url }}" alt = {{ product.name }} style="max-width:250px;">

{% endfor %}




{% endblock %}



